body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

div {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
}

button {
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
